---
layout: not_homepage
quote: Nothing in life is to be feared, it is only to be understood. Now is the time to understand more, so that we may fear less.
author: Marie Curie
---

{% include quote.html quote=page.quote author=page.author %}

<div class="container about_section">
  <div class="row">
    <img src="/assets/images/profile_picture.jpg" class="col m2 s3 responsive circle about_img" alt="me">
    <div class="about_paragraph">
      <p>
        Hello! I'm Sara Malvar, an electrical enginner with a master degree and a PhD in engineering. I've started my career at IBM
        and now I'm a postodoctare fellow at the Research Center for Gas Innovation. I've also worked as a professor for Mechanical
        and Electrical Enginnering students and I'm now a machine learning mentor, reviewer and instructor at Udacity, Alura and Awari.
        It's always gratifying to help and teach people as well as partaking in a rabbit hole with students because everyone 
        asks different qestions that would never occur to me.
      </p>
      <p>
        I always looking for new projects, so feel free to browse the <a class="about_me_links" href="/projects">projects</a> 
        section to check out what I've built. If you want to work with me, want a mentorship or consulting <a class="about_me_links" href="/contact">shoot me an email</a> or connect on 
        <a class="about_me_links" href="https://www.linkedin.com/in/levytsroman/">linkedIn</a>. 
      </p>
    </div>
  </div>
  <h3 class="heading skills_heading center-align">Publications:</h3>
  <div class="skills_wrapper">
      {% for tech_group in site.data.skills %}
        <div class="skill_group">
          <div class="col m4 s6">
            <h4 class="heading">{{tech_group.name}}:</h4>
            <div class="skills">
              {% for tech in tech_group.skills %}
              <i class="about_skill_icon devicon-{{tech.class}}"></i><span class="skill_names">{{tech.skill_name}}</span><br/>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}
  </div>
</div>

