---
layout: not_homepage
quote: All sorts of things can happen when you’re open to new ideas and playing around with things.
author: Stephanie Kwolek
---

{% include quote.html quote=page.quote author=page.author %}

<div class="project_list">
  <h1 class="heading center">Education in Machine Learning:</h1>
  {% for project in site.data.projects %}
    {% include project_box.html %}
  {% endfor %}
</div>

  <h1 class="heading center">Research Projects</h1>

<div class="container about_section">
  <div class="row">
    <div class="about_paragraph">
          <h2 class="heading"><strong>Active Fluids Models and Properties</strong></h2>
      <p style="font-size:24px">
       This project aims to present a study regarding the several fundamental aspects of complex particulate suspensions. We have been exploring the physics of active suspensions, composed of microorganisms, proteins etc. For this purpose, first we studied the behavior of a nematode suspension. Rheological experiments led us to identify anomalous behaviors and to propose a rheological model. In addition, we also work with Immersed Boundary simulations to identify the curvature characteristics that lead to the best propulsion efficiency.
      </p>
      <p style="font-size:24px">
        We are currently working with suspensions of methanotrophic bacteria and algae that consume carbon dioxide. These bacteria are responsible for the production of biopolymers, while algae produce biomass. Although the methodology for extracting these biomaterials is known, these processes still require a lot of time and cost. For this reason, we believe that rheological studies can help improve the performance of the process.
      </p>
      <h2 class="heading"><strong>Machine Learning for Geophysics</strong></h2>
      <p style="font-size:24px">
        The main objective of the STMI project (Software Technologies for Modeling and Inversion) is to develop a set of software technologies for numerical simulation and solution of inversion problems. These technologies will be able to reduce the time required for the development of simulation and inversion codes from years to days. High-level programming languages are designed and implemented that will enable geophysicists to use their specific knowledge of the area to quickly develop and evaluate new algorithms for obtaining images of geologically challenging regions.      </p>
       </p>
       <p style="font-size:24px">
      I work specifically with machine learning models to perform FWI (Full Waveform Inversion) a high-resolution seismic imaging technique that is based on using the entire content of seismic traces for extracting physical parameters of the medium sampled by seismic waves.      </p>
        </p>
        <h2 class="heading"><strong>Socioeconomics Characteristics of COVID-19</strong></h2>
      <p style="font-size:24px">
The construction of public policies to face the global pandemic of COVID-19 brings significant challenges, especially for countries like Brazil, which live with great social and economic inequality. The adoption of quarantine and social distancing practices, which have led to promising results in European and Asian countries, has been implemented in Brazil. However, the result is not very promising due to the country's territorial extension and its severe effects on the individual income of the population and the consequent increase in social problems faced by the country.       </p>
       <p style="font-size:24px">
This project can provide subsidies to public managers for the elaboration of effective policies to control the pandemic and to reduce its effects, in view of the specificities of the population. The models will be scalable, being able to accommodate macro and micro regions, as well as the interrelation between them. For that, we integrate the following models: 
    Control Models(SIR based), 
    Regional Contingency Optimization Models (topology based), 
    Propagation Models (heat conduction based) and 
    Machine Learning (clusterization based).
        </p>
    </div>
  </div>
  
  <div class="container about_section">
    <div class="about_paragraph">
  

<div class="projects-bottom center-align">
  <h1 class="heading">Have questions, comments, feedback? Feel free to reach out: malvar.sara@usp.br!</h1>
  <div class="row">
    <div class="col m6 offset-m3 s12">
      <div class="row">
      </div>
    </div>
  </div>
</div>
